body{
    background-color: #fffcfc;
}
nav ul li a:hover {
  color: #6e1e1e !important;
}
nav ul li a{
    margin-right: 10px !important;
}
#login {
  padding: 6px 22px 8px 20px;
  background-color: #21b573;
  border-radius: 25px;
}
.mainHeader {
  box-shadow: 0px 4px 8px rgb(0 0 0 / 6%) !important;
  
  background: white !important;
}

marquee{
    margin-top: 4px;
        color: burlywood;
}
.notice{
    padding: 10px;
    border-radius: 22px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}
.sliderSection img{
    height: 450px !important;
}
.carousel-inner{
    border-radius: 15px;
}
.sidebar{
    background-color: white;
    box-shadow: 2px 2px 5px 1px darkgray;
    border-radius: 24px 10px 28px;
}
.noti ul li:hover{
    background-color: rgb(208, 229, 247);
    border-radius: 10px;
    transform: rotate(2deg)
}
.noti ul li a{
    text-decoration: none;
    color: black;
}
.dot{
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background-color: #6e1e1e;
    display: inline-block;
}
.noti ul li{
    list-style-type: none;
}